body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

h1 {
    font-size: 60px;
    font-family: 'Caveat', cursive;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    background-color: white;
    height: 500px;
    border: 2px solid black;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-top: 50px;
    height: auto;
    align-items: center;
}

.cell {
    width: 6.25%;
    height: 6.25%;
    background-color: #000000;
    opacity: 0;
}

#restart {
    border: 2px solid black;
    border-radius: 30px;
    padding: 1px 5px 5px;
    width: 150px;
    height: 50px;
    background-color: rgb(160, 223, 252);
    font-size: 32px;
    font-family: 'Khand', sans-serif;
}

#colorPicker {
    padding: 0;
    width: 80px;
    height: 30px;
}